@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}
.font {
  color: #0e131f;
}
h1 {
  color: #0e131f;
  border-bottom: solid #ff0035;
  padding: 15px;
}
body {
  background-color: #f7f7ff;
}
.profile {
  width: 1000px;
  display: flex;
  margin: 50px;
  text-align: center;
  margin-top: 15px;
}
.profile :left {
  margin-left: 50px;
}
.profile img {
  width: 200px;
  border-radius: 50%;
  padding: 10px;
  margin-left: 100px;
}
.profile :right {
  margin-right: 50px;
}
.body {
  text-align: center;
}
