@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}
.font {
  color: #0e131f;
}
h1 {
  color: #0e131f;
  border-bottom: solid #ff0035;
  padding: 15px;
}
body {
  background-color: #f7f7ff;
}
.profile {
  width: 1000px;
  display: flex;
  margin: 50px auto;
}
.profile img {
  width: 200px;
  border-radius: 50%;
  padding: 25px;
}
